*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.store{
    margin: auto;
    width: 60%;
    min-height: 100%;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    padding: 10px;
    color: crimson;
}
.shoes{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    width: 31.6%;
    height: 70%;
    border-radius: 8px;
    background: #ececec;
    padding: 5px;
}
#shoes-img{
    width: 100%;
    border-radius: 8px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.image img{
    width: 30px;
}
p{
    font-weight: 600;
    color: grey;
}